@using Models.DomainModels

@model List<Anime>
@{
	ViewData["Title"] = "All";
	Layout = "~/Pages/Shared/_Layout.cshtml";
}


@if (TempData["Error"] != null)
{
	<div class="bg-danger">@TempData["Error"]</div>
}
@if (TempData["Message"] != null)
{
	<div class="bg-pirmary">@TempData["Message"]</div>
}

<div class="row">
	@for(int i=0; i<Model.Count; i++)
	{
		var anime = Model[i];
		<div class="col-4">
			<div class="card">
			<img src="@anime.ImageUrl" alt="@anime.Name" class="card-img-top" style="max-height: 300px; max-width: 450px"/>
				<div class="card-body">
				<h4 class="card-title mb-3">@anime.Name</h4>
				<p><strong>Year aired: </strong> @anime.YearAired</p>
				<p><strong>Genre: </strong>
							@foreach (var genre in anime.Genres)
							{
							<span>
								@genre 
							</span>

							}
				</p>
				<p><strong>Number of episodes: </strong>@anime.NumberOfEpisodes</p>
				<p><strong>Rating: </strong>@anime.Rating</p>
				<p><strong>Synopsis: </strong>
						@if (!string.IsNullOrEmpty(anime.Description) && anime.Description.Length > 100)
						{
							@anime.Description.Substring(0, 100) <a asp-controller="Animes" asp-action="GetAnimeById" asp-route-id="@anime.Id"> See more </a>
						}
						else
						{
							@anime.Description
						}
				</p>
				</div>
				<div>
					<a asp-controller="Animes" asp-action="AddToList" asp-route-id="@anime.Id" class="btn btn-primary">Add To List</a>
				</div>
			</div>
		</div>
	}
</div>
