@using Models.DomainModels
@using Models.Enums


@model List<Anime>
@{
	ViewData["Title"] = "All";
	Layout = "~/Pages/Shared/_Layout.cshtml";
	bool isAuthenticated = User.Identity.IsAuthenticated;
}

@if (TempData["Error"] != null)
{
	ViewData["MessageType"] = "error";
	ViewData["Message"] = TempData["Error"];
	@await Html.PartialAsync("InfoBox", ViewData)
}
@if (TempData["Message"] != null)
{
	ViewData["MessageType"] = TempData["MessageType"];
	ViewData["Message"] = TempData["Message"];
	@await Html.PartialAsync("InfoBox", ViewData)
}

<h1>All Animes</h1>
<div class="main">
	<form asp-action="Index" method="get" class="keyword-search-form">
		<input type="text" name="keyword" value="@(ViewBag.Keyword ?? "")" placeholder="Search anime" />
		<button type="submit" class="btn bg-lilac-1">Search</button>
	</form>
	<div class="row">
		@for(int i=0; i<Model.Count; i++)
		{
			var anime = Model[i];
			<div class="col-4 p-3">
				<div class="card border-lilac-1">
					<img src="@anime.ImageUrl" alt="@anime.Name" class="card-img-top border-lilac-1" style="max-height: 300px;"/>
					<div class="card-body">
						<a asp-action="GetAnimeById" asp-route-id="@anime.Id" asp-route-status="@(isAuthenticated? ViewBag.Statuses[i] : AnimeStatus.NotInList)" class="card-title text-lilac-1">@anime.Name</a>
						<p><strong>Year aired: </strong> @(anime.YearAired==null? "N/A":anime.YearAired)</p>
						<p><strong>Genre: </strong>
							@foreach (var genre in anime.Genres)
							{
								<span>
									@genre 
								</span>

							}
						</p>
						<p><strong>Number of episodes: </strong>@anime.NumberOfEpisodes</p>
						<p><strong>Rating: </strong>@anime.Rating</p>
						@if (isAuthenticated)
						{
							AnimeStatus status = ViewBag.Statuses[i];
							<p><strong>Status: </strong>
								<div> @await Html.PartialAsync("StatusDot", status)</div>
							</p>
						}
						<p><strong>Synopsis: </strong>
							@if (!string.IsNullOrEmpty(anime.Description) && anime.Description.Length > 100)
							{
								@anime.Description.Substring(0, 100)
								<a asp-controller="Animes" asp-action="GetAnimeById" asp-route-id="@anime.Id" asp-route-status="@(isAuthenticated? ViewBag.Statuses[i] : AnimeStatus.NotInList)">
									See more </a>
							}
							else
							{
								@anime.Description
							}
						</p>
					</div>
					<div class="w-100 d-flex justify-content-between" style="padding: 16px">
						<a asp-controller="Reviews" asp-action="GetAllReviewsForAnime" asp-route-animeId="@anime.Id" class="btn btn-yellow-1 bottom-left-corner">
							See reviews
						</a>
						@if (ViewBag.Statuses == null || ViewBag.Statuses[i]==AnimeStatus.NotInList)
						{
							<a asp-controller="Animes" asp-action="AddToList" asp-route-id="@anime.Id" class="btn bottom-right-corner btn-lilac-1" style="padding: 10px;">
								Add To List
							</a>
						}
						else
						{
							<span class="success-box bottom-right-corner">Added to Watch List</span>
						}
					</div>
				</div>
			</div>
		}
	</div>
	<form asp-action="Index" method="get" class="pages-bar">
		@{
			int prev = ViewBag.Page.current_page  - 1;
			int next = ViewBag.Page.current_page  + 1;
		}
		<button type="submit" disabled="@(prev<1)" name="page" value="@prev">Previous page</button>
		<span>Page @ViewBag.Page.current_page out of @ViewBag.Page.last_visible_page</span>
		<button type="submit" disabled="@(!ViewBag.Page.has_next_page)" name="page" value="@next">Next page</button>
	</form>
</div>

<style>
	.main{
		display: flex;
		justify-content: center;
		padding: 1rem 10%;
		flex-wrap: wrap;
	}
	.card {
		height: 100%;
	}
	.card-title{
		height: 60px;
		text-decoration: none;
		font-size: 22px;
		font-weight: bold;
		display: inline-block;
		line-height: 2rem;
	}
	.pages-bar{
		width: 70%;
		text-align: center;
		margin: 1rem 0;
	}
	.keyword-search-form{
		font-size: 1.2rem;
		margin-bottom: 3rem;
		width: 70%;
		display: flex;
		align-items: center;
	}
	.keyword-search-form input {
		width: 80%;
		height: 2rem;
		box-sizing: border-box;
		padding: 20px 10px;
		border-radius: 10px;
		margin-right: 10px;
		border-color: #832be3;
	}
    .keyword-search-form button{
		width: 15%;
		font-size: 1.2rem;
		height: 40px;
		box-sizing: border-box;
		color: white;
	}
	/* .bottom-right-corner { */
	/* 	position: absolute; */
	/* 	right: 10px; */
	/* 	bottom: 10px; */
	/* } */
	/* .bottom-right-corner { */
	/* 	position: absolute; */
	/* 	left: 10px; */
	/* 	bottom: 10px; */
	/* } */
</style>